/* animated css */
header {
  animation-delay: 0.1s;
  animation-duration: 0.5s;
}
.left,
.right {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}
.split-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layer {
  display: flex;
  align-items: center;
  padding: 0 3em;
}
.content-wrap {
  height: 85vh;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}
.content-text {
  margin: auto;
}
.right .content-wrap {
  justify-content: right;
  text-align: right;
}
/* software */

.slide {
  padding: 40px 0;
}
.slide img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  cursor: pointer;
}
.slide img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.services-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.service-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.service-item:hover {
  box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.1);
}
.card {
  max-width: 340px;
  box-shadow: 0 7px 21px 0 #0000001a;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.15s ease-in-out;
  margin: 30px 0;
}
#design {
 overflow: hidden;
 height: 50rem;
}

#design-slider-list {
 display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  gap: 10px;
  padding: 30px 50px;
}

#design-slider-list:last-child {
  gap: 0;
}
.designs {
  padding-bottom: 20px;
}
.designs .owl-theme .owl-dots .owl-dot {
  display: inline-block;
} 
/* design end */
.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
  display: block !important;
  background: #333 !important;
}
.owl-prev {
  left: 10px;
}
.owl-next {
  right: 10px;
}

.design-slide-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card .btn {
  padding: 20px;
}

.about {
  position: relative;
  height: 50rem;
}
.about::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url(./img/cement-texture.jpg);
  z-index: -1;
  opacity: 0.5;
}
.about-text {
  width: 40%;
  text-align: left;
  padding: 20px 0;
}
#about-frame {
  margin: 30px;
  width: 50%;
  overflow: hidden;
  height: 50rem;

}
#about-frame img {
  width: 100%;
}

.about-content h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}
.about-content p {
  font-size: 0.9rem;
  padding: 20px 0;
}

.diplomas {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  cursor: pointer;
  height: 300px;
}

.diplomas img:hover {
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: center -10px;
  float: left;
}
/* footer */
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.contact-form {
  flex: 1;
  max-width: 800px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;

}
.contact-form h3 {
  text-align: left;
}
.contact-info {
  flex: 1;
  background: green;
  padding: 25px 30px;
}
form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
   margin: 20px 0 12px 0px;
}
.contact-form form .user-details .input-box {
margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: .9rem;
  text-align: left;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: .8rem;
  border-block-width: 2px;
  transition: all 0.3s ease;
}
.input-box  {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
}
.input-box .details {
  font-size: .9rem;
    font-weight: 600;
    
}
textarea {
  
  margin: 20px 0 12px 0px;
  width: 100%;
  height: 100px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
   border-block-width: 2px;
  transition: all 0.3s ease;
  padding: 15px;
}
textarea::placeholder {
font-family: 'Montserrat', sans-serif;
font-size: .8rem;
font-weight: 500;


}

.user-details .input-box input:focus,
textarea:focus
{
border-color: #333;
}
.pick {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.pick .pick-title {
font-size: .9rem;
font-weight: 600;
margin-bottom: 25px;
}
form .pick .pick-category {
  display: flex;
  width: 100%;
  justify-content: space-between;

  margin: 14px 0;
}
.pick-category .category-name {
  font-size: .8rem;
  font-weight: 400;
}
.pick .pick-category label {
display: flex;
align-items: center;
}
.pick .pick-category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .pick-category label .one,
#dot-2:checked ~ .pick-category label .two,
#dot-3:checked ~ .pick-category label .three {
  border-color: #d9d9d9;
  background: #333;
}
form input[type="radio"] {
  display: none;
}
form button {
 display: block;
}
